/*** Admin ***/

.Admin-wrapper {
  background: radial-gradient(#121416, #000000);
  width: 100vw;
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding-bottom: 6rem;
}

.Admin-wrapper h2 {
  background-color: #121416;
  color: transparent;
  width: 100%;
  font-size: 4.5rem;
  letter-spacing: 0.3rem;
  text-align: center;
  text-shadow: inset 3px 3px 4px rgba(0,0,0,0.5);
  -webkit-background-clip: text;
      -moz-background-clip: text;
           background-clip: text;
  margin-top: 3rem;
  margin-bottom: 5rem;
  opacity: 0.8;
}

.Admin-wrapper a {
  background: none;
  color: #f4f4f4;
  align-self: flex-end;
  border: none;
  margin: 2rem 4rem;
}

.Admin-wrapper label {
  color:gray;
  margin-bottom: 2rem;
}

.Admin-wrapper .homeBtn {
  background: none;
  color:gray;
  border: none;
}

.Admin-wrapper .homeBtn:hover, .Admin-wrapper .signoutBtn:hover {
  color: #f4f4f4;
}

.Admin-wrapper .signoutBtn {
  background: none;
  color: gray;
  align-self: flex-end;
  border: none;
  margin-top: 3rem;
  margin-right: 3rem;
}

.Admin-selectToDo {
  width: 100vh;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.Admin-selectToDo h3 {
  color: #f4f4f4;
  font-weight: 100;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
  letter-spacing: 0.05rem;
}

.Admin-preview {
  margin-bottom: 4rem;
}

.Admin-preview h3 {
  color: gray;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.Admin-preview h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  color: #bf0000;
}

.Admin-preview .Admin-post {
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 2rem;
  margin: 2rem;
  border: 0.5px solid #bf0000;
  padding: 0 2rem;
}

.Admin-preview .Admin-post img {
  width: 7rem;
  height: auto;
}

.Admin-preview .Admin-post h3 {
  color: #f4f4f4;
  font-weight: 100;
  margin: 0;
  letter-spacing: 0.05rem;
}

.Admin-preview .Admin-posttext {
  color: gray;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 3rem 0 2rem 3rem;
}

/*** Remove button ***/
.Admin-preview .Admin-posttext button {
  background-color: #1a2023;
  color: #1a2023;
  width: 2rem;
  align-self: flex-end;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -0.5px -0.5px rgba(255, 255, 255, 0.44), 0.5px 0.5px rgba(0, 0, 0, 0.38);
  border: 1px outset gray;
  border-radius: 50%;
  outline-color:  0.5px solid #bf0000;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  padding: 0.4rem 0.1rem 0.45rem 0.2rem;
  margin-top: 0;
}

.Admin-content h2 {
  align-self: center;
  font-size: 4.5rem;
  letter-spacing: 0.3rem;
  text-shadow: inset 2px 2px 3px rgba(0,0,0,0.5);
   -webkit-background-clip: text;
      -moz-background-clip: text;
           background-clip: text;
  opacity: 0.8;
}

.Admin-content h3  {
  color:gray;
  font-size: 2rem;
  font-weight: 300;
}

.Admin-addpost {
width: 50rem;
height: auto;
}


/*** Addpost ***/

.Addpost-wrapper {
  color: gray;
  width: 100vw;
  max-width: 100%;
  height: 35rem;
  margin-top: 4rem;
}

.Addpost-wrapper label {
  color:gray;
  text-align: center;
}

.Addpost-wrapper a {
  position: absolute;
}

.Addpost-wrapper img {
  width: 10rem;
  height: auto;
}

.Addpost-wrapper form {
  width: 15rem;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
  margin-left: 17rem;
}

.Addpost-wrapper input {
  background: linear-gradient(to bottom,#f4f4f4, #ffffff, #f4f4f4);
  color:gray;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  border:2px inset gray;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.Addpost-wrapper textarea {
  background: linear-gradient(to bottom,#f4f4f4, #ffffff, #f4f4f4);
  color:gray;
  width: 100%;
  height: 5rem;
  font-family: 'Open Sans', sans-serif;
  border:2px inset gray;
  border-radius: 0.5rem;
  cursor: pointer;
  resize: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Addpost-wrapper input[type="file"]{
  background: none;
  width: 10rem;
  height: 2rem;
  border: none;
  margin-top: 1rem;
}

#inputtypefile {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.Addpost-wrapper input[type='submit']{
  background: linear-gradient(to bottom,#000000, #1a2023, #000000);
  color:#ead6c0;
  font-family: 'Open Sans', sans-serif;
  border:1px solid black;
  border-radius: 0.5em;
  cursor: pointer;
  padding:0.5rem 3rem;
}

.Addpost-wrapper select {
  background: linear-gradient(to bottom,#000000, #1a2023, #000000);
  color:#ead6c0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  text-align-last: center;
  border:1px solid black;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius:0.5em;
  box-shadow: inset 10px 10px 29px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: inset 10px 10px 29px -6px rgba(0,0,0,0.75);
   -moz-box-shadow: inset 10px 10px 29px -6px rgba(0,0,0,0.75);
  padding: 0.15em 2em;
  margin-top: 1em;
}

.Addpost-wrapper option {
  background-color:#1d2731;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.Addpost-wrapper button {
  background: linear-gradient(to bottom,#000000, #1a2023, #000000);
  color:#ead6c0;
  width: 6rem;
  height: 2rem;
  border:2px inset gray;
  border:1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.25rem;
  margin-top: 1rem;
}
