.App {
  width: 100vw;
  max-width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(to bottom ,#000000,#000000, #121416, #000000, #000000, #000000);
}
.main{
  width: 100vw;
  max-width: 100%;
}
.App-shape{
  display: flex;
  justify-self:flex-start;
 width: 40rem;
 height: 60rem;
 background-color: #f4f4f4;
}

.App-gradientsCorrector{
  width: 100vw;
    max-width: 100%;
  height: 60rem;
  background: radial-gradient(circle at bottom left, #1a2023, #121416,#000000, #000000);
  color: #f4f4f4;
}

.triangle{
  width: 100vw;
  max-width: 100%;
  height: 17rem;
  margin-top: -0.3rem;
  background: linear-gradient(to bottom left, #000000,#121416 );
  -webkit-clip-path: polygon(51% 90%, 0 0, 100% 0);
  clip-path: polygon(51% 90%, 0 0, 100% 0);
  margin-bottom: 2rem;
  z-index: 1;
}

.parallax{
display: flex;
justify-content: center;
background-color: #121416;
/*background-image:url('./images/CVBackgroundImg.png');*/
height: 800px;
width: 99vw;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.App-link {
  color: #e6c68a;
  position: absolute;
  margin-top: 14rem;
}
