.About-wrapper {
  background: radial-gradient(circle at top left, #1a2023 15%,#121416,#000000, #000000, #000000);
  color:#f4f4f4;
  width: 100vw;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 12rem;
  position: relative;
  margin-top: -1rem;
}

.About-wrapper img:nth-child(2){
  width: 20%;
  height: auto;
}

.About-wrapper img:nth-child(3){
  width: 7%;
  position: absolute;
  bottom: 5rem;
}

.About-h2-wrapper {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.About-h2-wrapper h2 {
  background-color: #121416;
  color: transparent;
  width: 25rem;
  align-self: center;
  font-size: 4.5rem;
  letter-spacing: 0.3rem;
  text-align: left;
  text-shadow: inset 3px 3px 4px rgba(0,0,0,0.5);
  -webkit-background-clip: text;
      -moz-background-clip: text;
           background-clip: text;
  opacity: 0.8;
  margin-top: 0;
  margin-left: 8rem;
}

.About-wrapper p {
  color: gray;
  width: 35rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 2rem;
  letter-spacing: 0.04rem;
  margin-top: 2rem;
}

.About-wrapper p::first-letter {
  font-size: 1.5rem;
}
@media screen and (min-width:200px) and (max-width: 374px){
  .About-h2-wrapper h2 {
    max-width: 100%;
    font-size: 3rem;
    text-align: center;
    margin-left: 0;
  }
  .About-wrapper p {
    max-width: 80%;
  }
.About-wrapper img:nth-child(2){
  width: 80%;
  height: auto;
}
.About-wrapper img:nth-child(3){
  width: 20%;
  height: auto;
}
}

@media screen and (min-width: 375px) and (max-width: 767px){
  .About-wrapper p {
    width: 80%;
  }
  .About-wrapper img:nth-child(2){
    width: 80%;
    height: auto;
  }
  .About-wrapper img:nth-child(3){
    width: 20%;
    height: auto;
  }
  .About-h2-wrapper {
    margin-top: 0;
  }
  .About-h2-wrapper h2 {
    font-size: 4rem;
    text-align: center;
    margin-left: 0;
  }
}
