/*** Navigation ***/

.Navigation {
  width: 5rem;
  height: 45rem;
  font-weight: lighter;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 8.5rem;
  margin-left: 4rem;
  z-index: 1;
}

.Navigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding-top: 0.5rem;
  margin-top: 0;
}

.Navigation li {
  transform: rotate(90deg) scaleX(-1) scaleY(-1);
  letter-spacing: 0.15rem;
  text-transform: lowercase;
  margin-top: 5rem;
}

.Navigation li a {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 300;
  color: #303b40;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  background-image: linear-gradient(to right,#f3e5c9,#f3e5c9 50%,#303b40 50%);
}

.Navigation li a:hover {
 transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
 background-position: 0%;
}

@media screen and (min-width:200px) and (max-width: 374px){
  .Navigation ul {
    list-style-type: none;
    padding-top: 0.5rem;
    margin-top: -5rem;
    margin-left: -11rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px){
  .Navigation {
    margin-left: 0;
  }
  .Navigation ul {
    list-style-type: none;
    padding-top: 0.5rem;
    margin-top: -2rem;
    margin-left: -2rem;
  }
}
