/*** Header ***/

.Header-wrapper {
  display: flex;
  flex-direction: row;
}

.Header {
  background:linear-gradient(to bottom right,#1a2023, #121416 20%, #000000);
  display: flex;
  flex-direction: column;
}

/*** Logotype ***/

.Header img {
  width: 11%;
  height: auto;
  position: absolute;
  top: 0.75rem;
  left: 3.5rem;
  animation: fadeInLogo 3s ease-in-out both;
  animation-delay: 5s;
}

.Header canvas {
  background: transparent;
  max-width: 100%;
  position: relative;
  top:0;
}

.Header p {
  position: absolute;
  margin-top: 11rem;
}

.Header svg {
  width: 75%;
  right: 6.25rem;
  margin-top: 3.2rem;
  position: absolute;
}

.Header .HeaderLine{
  stroke-dasharray: 2400;
  stroke-dashoffset: 2400;
  animation:dash 5s linear forwards;
}

.Header-h1-wrapper {
  height: 20rem;
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1rem;
  bottom: 1.3rem;
  right: 3.6rem;
  position: absolute;
  padding: 0;
}

/*** Headertext ***/

.Header h1 {
  color:#f4f4f4;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin: 1rem;
}

.vividDream, .hiddenDesires {
  height: 3rem;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.distantMemories {
  height: 3rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.vividDream h1:nth-child(1) {
  opacity: 0.8;
  position: relative;
  margin-left: 2rem;
  animation: fadeIn1 3s ease-in-out both;
}

.vividDream h1:nth-child(2) {
  opacity: 0.7;
  position: relative;
  margin-left: 8rem;
  animation: fadeIn2 3s ease-in-out both;
  animation-delay: 1s;
}

h1:nth-child(1) h1:nth-child(2) {
  color: #f3e5c9;
}

.hiddenDesires h1:nth-child(1) {
  opacity: 0.6;
  position: absolute;
  z-index: 2;
  animation: fadeIn4 3s ease-in-out both;
  animation-delay: 1.5s;
}

.hiddenDesires h1:nth-child(2) {
  opacity: 0.5;
  position: absolute;
  margin-left: 15rem;
  z-index: 2;
  animation: fadeIn5 3s ease-in-out both;
  animation-delay: 2s;
}

.and h1 {
  color: #f3e5c9;
  font-size: 10rem;
  align-self: center;
  opacity: 0.15;
  position: absolute;
  margin-top: 3rem;
  margin-left: 1.5rem;
  z-index: 1;
  animation: fadeIn3 3s ease-in-out both;
  animation-delay: 2.5s;
}

.distantMemories h1:nth-child(1) {
  position: relative;
  opacity: 0.4;
  margin-right: 8rem;
  margin-bottom: 2rem;
  animation: fadeIn6 3s ease-in-out both;
  animation-delay: 3.5s;
}

.distantMemories h1:nth-child(2){
  position: relative;
  letter-spacing: 1.4rem;
  opacity: 0.2;
  margin-left: 1rem;
  animation: fadeIn7 3s ease-in-out both;
  animation-delay: 4.5s;
  /*animation: flicker-in-1 1.6s linear both;
  animation-delay: 4s;*/
}

@media screen and (min-width:200px) and (max-width: 374px){
  .Header-wrapper{
    width: 100vw;
    max-width: 100%;
  }
  .Header {
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .Header h1 {
    font-size: 1.3rem;
    height: 30rem;
    width: 30rem;
    right: 0;
}
.Header svg {
  display: none;
}
.Header img {
  width: 25%;
  height: auto;
  left: 1rem;
}
.Header-h1-wrapper {
  width: 100vw;
  max-width: 100%;
  right: 0;
  bottom: 0;
}
.vividDream, .hiddenDesires {
  width: 100vw;
  max-width: 100%;
}
.vividDream h1:nth-child(1){
  width: 100vw;
  max-width: 100%;
  height: 3rem;
  margin-left: 0;
}
.vividDream h1:nth-child(2){
  width: 100vw;
  max-width: 100%;
  height: 3rem;
  margin-left: -5rem;
}
.hiddenDesires h1:nth-child(1){
  width: 100vw;
  max-width: 100%;
  height: 3rem;
  margin-right: 4rem;
}
.hiddenDesires h1:nth-child(2) {
  width: 100vw;
  max-width: 100%;
  height: 3rem;
  position: relative;
  margin-left: 7rem;
  margin-right: 0;
}
.and h1 {
  width: 100vw;
  max-width: 100%;
  height: 6rem;
  font-size: 5rem;
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 6rem;
}
.distantMemories h1:nth-child(1){
  width: 100vw;
  max-width: 100%;
  height: 3rem;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;
}
.distantMemories h1:nth-child(2){
  width: 100vw;
  max-width: 100%;
  height: 3rem;
  letter-spacing: 1.25rem;
  margin: 0;
}
}

@media screen and (min-width: 375px) and (max-width: 767px){
  .Header-wrapper{
    width: 100vw;
    max-width: 100%;
  }
  .Header {
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
  }
.Header svg {
  display: none;
}
.Header img {
  width: 25%;
  height: auto;
  left: 1rem;
}
.Header h1 {
  font-size: 1.6rem;
  height: 30rem;
  width: 30rem;
  right: 0;
}
.Header-h1-wrapper {
  width: 100vw;
  max-width: 100%;
  right: 0;
  bottom: 0;
}
.vividDream, .hiddenDesires, .distantMemories{
  width: 100vw;
  max-width: 100%;
}
.vividDream h1:nth-child(1){
  width: 100vw;
  max-width: 100%;
  height: 3rem;
  margin-left: 0;
}
.vividDream h1:nth-child(2){
  width: 100vw;
  max-width: 100%;
  height: 3rem;
  margin-left: -5rem;
}
.hiddenDesires h1:nth-child(1){
  width: 100vw;
  max-width: 100%;
  height: 3rem;
  margin-right: 4rem;
}
.hiddenDesires h1:nth-child(2) {
  width: 100vw;
  max-width: 100%;
  height: 3rem;
  position: relative;
}
.and h1 {
  width: 100vw;
  max-width: 100%;
  height: 6rem;
  font-size: 5rem;
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 6rem;
}
.distantMemories h1:nth-child(1){
  width: 100vw;
  max-width: 100%;
  height: 3rem;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 2rem;
  margin-right: 0;
}
.distantMemories h1:nth-child(2){
  width: 100vw;
  max-width: 100%;
  height: 3rem;
  letter-spacing: 1.25rem;
  margin: 0;
}
}

/*** Animations ***/

@keyframes fadeIn1{
  0% {opacity:0}
  50%{opacity:1}
  100%{opacity:0.8}
}

@keyframes fadeIn2{
  0% {opacity:0}
  50%{opacity:0.9}
  100%{opacity:0.7}
}

@keyframes fadeIn3{
  0% {opacity:0}
  50%{opacity:0.35}
  100%{opacity:0.1}
}

@keyframes fadeIn4{
  0% {opacity:0}
  50%{opacity:0.8}
  100%{opacity:0.6}
}

@keyframes fadeIn5{
  0% {opacity:0}
  50%{opacity:0.7}
  100%{opacity:0.5}
}
@keyframes fadeIn6{
  0% {opacity:0}
  50%{opacity:0.6}
  100%{opacity:0.4}
}
@keyframes fadeIn7{
  0% {opacity:0}
  50%{opacity:0.4}
  100%{opacity:0.3}
}

@keyframes fadeInLogo{
  0% {opacity:0}
  50%{opacity:0.35}
  100%{opacity:0.3}
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 0.8;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 0.8;
  }
  85% {
    opacity: 0.8;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 0.65;
  }
  100% {
    opacity: 0.55;
  }
}
