/*** Retailers ***/
.Retailers-wrapper{
  background: radial-gradient(circle at bottom left, #1a2023 15%, #121416,#000000, #000000, #000000);
  color: #f4f4f4;
  width: 100vw;
  max-width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.Retailers {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding-top: 4rem;
}

.Retailers-info {
  width: 33.33%;
  height: auto;
  margin-bottom: 4rem;
}

.Retailers a {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 300;
  color: #303b40;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  background-image: linear-gradient(to right,#f3e5c9, #f3e5c9 50%,#303b40 50%);
}

.Retailers a:hover {
  transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
  background-position: 0%;
}

.Retailers img {
  width: 30%;
  height: auto;
}

.Retailers-wrapper h2 {
  align-self: center;
  background-color: #121416;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(64,64,64,0.1);
   -webkit-background-clip: text;
      -moz-background-clip: text;
           background-clip: text;
  font-size: 4.5rem;
  letter-spacing: 0.3rem;
  opacity: 0.8;
  width: 25rem;
  margin-bottom: 1rem;
}

.Retailers-info h4 {
  color:#979d9f;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.01rem;
}

.Retailers p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.01rem;
  color: #596266;
}

@media screen and (min-width:200px) and (max-width: 374px){
  .Retailers-wrapper h2 {
    width: 100vw;
    max-width: 100%;
    font-size: 2rem;
  }
  .Retailers{
    justify-content: center;
    padding-top: 1rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px){
  .Retailers-wrapper {
    margin-top: 0;
  }
  .Retailers{
    justify-content: center;
    padding-top: 1rem;
  }
  .Retailers-wrapper h2 {
    width: 100vw;
    max-width: 100%;
    font-size: 3rem;
  }
  .Retailers-info{
    width: 60%;
  }
}
