/*** Login ***/

.Login-wrapper {
  width: 100vw;
  max-width: 100%;
  height: 64vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login h2 {
  color:#f4f4f4;
}

.Login {
  background:radial-gradient( #000000, #121618,#1a2023);
  color: gray;
  width: 50em;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
   -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  padding: 2em 0;
  margin: 1em 0 0 0;
}

.Login h3 {
  color: gray;
  margin-bottom: 1rem;
  margin-top: 0;
}

.Login form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.Login button {
  background: linear-gradient(to bottom, #111417, #000000, #111417);
  color:#ead6c0;
  width: 6rem;
  border:1px inset gray;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 0.25em 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.Login input {
  background: linear-gradient(to bottom, #111417, #000000, #111417);
  color:#ead6c0;
  width: 100%;
  border:1px inset gray;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 0.25em 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
